@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-bg-color: #F0EBF8;
    --primary-border-color: #EBEAEA;
    --primary-purple-color: #673AB7;
}

[hidden] {
  display: none !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 11pt;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg-color);
}

.box-layout {
    background-color: white;
    box-sizing: border-box;
    padding: 20px 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.google-form {
    width: 45%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

hr {
    border: 1px solid var(--primary-border-color);
    width: 100%;
}

.heading {
    border-top: 10px solid var(--primary-purple-color);
}

.main-heading {
    font-size: 32px;
    font-weight: 400;
    color: #202124;
}

ul {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form, form>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

label {
    display: flex;
    gap: 5px;
}

input,
select {
    width: 50%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 2px solid var(--primary-border-color);
    transition: border-color 0.5s linear;
    /* Transition just the color */

    &:focus {
        outline: none;
        border-bottom: 2px solid;
        border-color: var(--primary-purple-color);
        /* New color on hover */
    }
}

.radiobtn {
    display: flex;
    gap: 20px;
}

input[type=radio] {
    width: fit-content;
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
}

.buttons {
    display: flex !important;
    flex-direction: row;
    gap: 20px;
}

button, input[type=submit] {
    width: fit-content;
    cursor: pointer;
    background-color: white;
    color: var(--primary-purple-color);
    font-weight: 500;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input[type=submit] {
    background-color: var(--primary-purple-color);
    color: var(--primary-bg-color);
}

#clear {
    background-color: var(--primary-bg-color);
    color: var(--primary-purple-color);
    margin-left: auto;

    &:hover {
        background-color: #e1d9ee;
    }
}

.student{
    display: flex;
    gap: 5px;
    border: 1px solid black;
}

.student > div {
    width: 70%;
}

.profile-img {
    width: 30%;
}

.student > div {
    display: grid;
    grid-template-columns: 1.2fr 0.3fr 3fr
}

.student > div > div {
    padding: 5px;
}
